<h1>Resultados del inicio de sesión</h1>

<hr>

<p>Si en la BBDD encuentras el usuario {{username}} con la contraseña {{password}}, déjale pasar!</p>
<p>...y además, si miras la terminal verás detalles guays que vienen de la ruta, ¡yay!</p>


<a href="/iniciar-sesion">Volver al formulario</a>