<h1>Iniciar sesión</h1>

<hr>

<form action="/iniciar-sesion" method="POST">

    <label>
        Usuario: <input type="text" name="username">
    </label><br>

    <label>
        Contraseña: <input type="password" name="password">
    </label><br>

    <input type="submit" value="Iniciar sesión">

</form>


<a href="/">Volver al inicio</a>