<h1>Resultados de tu búsqueda</h1>
<hr>

<p>Aquí irían los resultados de la BBDD para los siguientes valores:</p>
<ul>
    <li>Prenda: {{clothes}}</li>
    <li>Color: {{color}}</li>
    <li>Talla: {{size}}</li>
    <li>Temporada: {{season}}</li>
</ul>

<a href="/buscador">Volver al formulario</a>
