<h1>Formulario de búsqueda</h1>
<hr>
</br>
<form action="/resultados" method="GET">

    <label>
        Prenda: <input type="text" name="clothes">

    </label><br>

    <label>
        Talla: <input type="text" name="size">
    </label><br>

    <label>
        Color: <input type="text" name="color">
    </label><br>

    <label>
        Temporada: <input type="text" name="season">
    </label><br><br>

    <input type="submit" value="Buscar prendas">

</form>


<a href="/">Volver al inicio</a>
